.navbar-container div img {
  position: relative;
  left: 3.5%;
  top: 25px;
  width: 100px;
  height: 40px;
}

.list {
  list-style: none;
  display: inline-flex;
  position: relative;
  left: 25%;
  bottom: 70px;
}
.button-group {
  position: relative;
  left: 85%;
  bottom: 155px;
}

.nav-button {
  position: relative;
  left: 40px;
  bottom: 35px;
  border-radius: 15px;
  padding: 2px 12px;
  margin: 0px 20px;
}
.list li {
  margin: 40px;
  font-size: 20px;
  font-family: cursive;
}

.list li:hover {
  font-size: 25px;
  text-decoration: black underline;
  text-shadow: 1px 0px 1px black;
}

.square img {
  position: relative;
  left: 15%;
  top: 180px;
  width: 300px;
  height: 300px;
}

.globe {
  position: relative;
  bottom: 390px;
  left: 490px;
}

.globe img {
  width: 50px;
  height: 50px;
}

.star {
  position: relative;
  left: 65%;
  bottom: 350px;
}

.star img {
  width: 50px;
  height: 50px;
}

#person img {
  position: relative;
  top: -350px;
  width: 400px;
  height: 400px;

  right: -50px;
}

.icons img {
  left: 50%;
  width: 20px;
  height: 20px;
}

.hero-heading {
  position: relative;
  left: 43%;
  top: -730px;
  size: 300px;
  font-size: 70px;
}

.hero-description {
  position: relative;
  left: 47%;
  top: -750px;
  line-break: anywhere;
  font-family: cursive;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.button-email {
  position: relative;
  left: 53%;
  top: -680px;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-family: cursive;
  background-color: #ffffff;
}

.button-join {
  position: relative;
  left: 57%;
  top: -680px;
  font-size: 15px;
  font-family: cursive;
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
}
.contact-heading {
  position: relative;
  left: 60%;
  top: -650px;
  font-size: 25px;
}

.icons {
  position: relative;
  left: 61%;
  top: -675px;
}
